<% layout('layouts/boilerplate') -%>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8 col-lg-6">
      <div class="card shadow-sm p-4 border-0 rounded-4">
        <h2 class="text-center mb-4">Edit Listing</h2>
        <form method="POST" action="/listings/<%= data._id %>?_method=PATCH" novalidate class="needs-validation">
          <div class="mb-3">
            <label class="form-label">Title</label>
            <input type="text" name="listing[title]" class="form-control" placeholder="Add Title..." value="<%= data.title %>" required>
            <div class="valid-feedback">Looks Good</div>
            <div class="invalid-feedback">Please provide valid title</div>
          </div>

          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" rows="4" placeholder="Add Description..." required><%= data.description %></textarea>
            <div class="valid-feedback">Looks Good</div>
            <div class="invalid-feedback">Please provide valid description</div>
          </div>

          <div class="mb-3">
            <label class="form-label">Image URL</label>
            <input type="url" name="listing[img]" class="form-control" placeholder="Add image URL..." value="<%= data.img %>" required>
            <div class="valid-feedback">Looks Good</div>
            <div class="invalid-feedback">Please provide valid URL</div>
          </div>

          <div class="mb-3">
            <label class="form-label">Price (₹)</label>
            <input type="number" name="listing[price]" class="form-control" placeholder="Enter Price..." value="<%= data.price %>" required min="0" >
            <div class="valid-feedback">Looks Good</div>
            <div class="invalid-feedback">Please enter valid price</div>
          </div>

          <div class="mb-3">
            <label class="form-label">Location</label>
            <input type="text" name="listing[location]" class="form-control" placeholder="Enter Location" value="<%= data.location %>" required>
            <div class="valid-feedback">Looks Good</div>
            <div class="invalid-feedback">Please provide valid location</div>
          </div>

          <div class="mb-4">
            <label class="form-label">Country</label>
            <input type="text" name="listing[country]" class="form-control" placeholder="Enter Country" value="<%= data.country %>" required>
            <div class="valid-feedback">Looks Good</div>
            <div class="invalid-feedback">Please provide valid country</div>
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-warning btn-lg rounded-3">Save Changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
